/*
* @Author: lt
* @Date:   2018-12-22 16:37:11
* @Last Modified by:   lt
* @Last Modified time: 2018-12-23 10:36:29
*/
*{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
}
ul,ol,li{
	list-style: none;
}
/* 居中 */
.top1{
	width: 100%;
	height: 150px;
	z-index: 1;
	background-color: #fff;
	/* position: static; */
}
.en{
	width: 1180px;
	margin: 0 auto;
}
.top{
	width: 1180px;
	height: 150px;
	margin: 0 auto;
	/* position: static; */
}
.p1{
	font-size: 14px;
	color: #807d78;
	padding-top: 6px;
	padding-right: 300px;
	float: left;
}
.img1{
	padding-top: 8px;
	padding-left: 20px;
	float: left;
}
.p2{
	font-size: 14px;
	color: #807d78;
	padding-left: 10px;
	padding-top: 7px;
	float: left;
}
.img2{
	padding-left: 20px;
	padding-top: 12px;
	float: left;
}
.p3{
	font-size: 14px;
	color: #807d78;
	padding-left: 5px;
	padding-top: 7px;
	float: left;
}
.pp1{
	font-size: 14px;
	font-weight: bolder;
	color: #fe6c00;
	padding-left: 13px;
	padding-top: 7px;
	float: left;
}
.img3{
	padding-top: 20px;
	float: left;
}
.in1{
	width: 520px;
	height: 40px;
	margin-left: 140px;
	margin-top: 30px;
	border: 3px solid #fe6c00;
	float: left;
}
.a1{
	width: 70px;
	height: 36px;
	background-color: #fe6c00;
	margin-top: 30px;
	margin-right: 25px;
	float: left;
	color: white;
	padding-top: 10px;
	padding-left: 15px;
}
.a2{
	width: 85px;
	height: 40px;
	border: 1px solid #abbee6;
	margin-top: 30px;
	float: left;
}
.img4{
	padding-left: 30px;
	padding-top: 5px;
	padding-right: 30px;
}
.span2{
	padding-left: 2px;
	font-size: 10px;
	color: #807d78;
}
.a3{
	width: 85px;
	height: 42px;
	margin-top: 30px;
	background-color: #fe6c00;
	float: left;
}
.img5{
	padding-top: 12px;
	padding-left: 3px;
}
.span3{
	font-size: 14px;
	color: white;
	padding-top: 12px;
}
.a4{
	/* padding-left: 10px; */
	width: 620px;
	float: left;
	margin-top: 8px;
	margin-left: 140px;
}
.span4{
	font-size: 12px;
	color: red;
	padding-left: 4px;
	padding-right: 4px;
}
.span5{
	font-size: 12px;
	color:#807d78;
}
.span6{
	font-size: 12px;
	color: #807d78;
	padding-left: 4px;
	padding-right: 4px;
}
.span7{
	font-size: 12px;
	color: #abbee6;
	padding-left: 4px;
	padding-right: 4px;
} 
/* 导航 */
.nav{
	width: 100%;
	height: 40px;
	background-color: black;
}
.navul{
	/* width: 1180px; */
	padding-left: 179px;
	float: left;
}
.nav li{
	color: white;
	font-size: 14px;
	width: 90px;
	height: 32px;
	text-align: center;
	padding-top: 8px;
	/* margin-left: 25px; */
	display: inline-block;
}
.nav li:hover{
	background-color: #fe0d4a;
	cursor: pointer;
}
/* 中部 */
.zhong{
	height: 700px;
	/* width: 1180px;
	margin: 0 auto; */
	background-color: #f6f5f4;
}
.zhong1{
	width: 995px;
	height: 680px;
	padding-right: 5px;
	/* background-color: white; */
	float: left;
}
.zhongp1{
	width: 995px;
	height: 20px;
	font-size: 12px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #f6f5f4;
	/* float: left; */
}
.zhongdiv1{
	height: 433px;
	background-color: white;
	padding-top: 22px;
	/* padding-left: 10px; */
	float: left;
}
.good{
	/* width: 410px;
	height: 410px;
	margin-left: 20px;
	border: 1px solid red;
	float: left; */
	width: 410px;
	height: 410px;
	margin-left: 20px;
	border: 1px solid #f6f5f4;
	float: left;
	position: relative;
}
.zhongp2{
	width: 545px;
	height: 28px;
	font-size: 14px;
	padding-left: 18px;
	float: left;
}
.zhongp3{
	width: 466px;
	height: 73px;
	padding-left: 18px;
	float: left;
	font-size: 12px;
	color: #807d78;
}
.zhongp4{
	width: 500px;
	height: 29px;
	font-size: 12px;
	padding-left: 30px;
	float: left;
}
.b1{
	padding-left: 10px;
}
.zhongp5{
	width: 100px;
	height: 35px;
	padding-left: 40px;
	font-size: 12px;
	float: left;
}
.zhongdiv2{
	width: 64px;
	height: 32px;
	border: 1px solid red;
	background-image: url(../Web开发二大作业/任务所需小图/img/duigou.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	float: left;
}
.zhongdiv3{
	width: 64px;
	height: 32px;
	border: 1px solid red;
	margin-left: 10px;
	background-image: url(../Web开发二大作业/任务所需小图/img/duigou.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	float: left;
}
.zhongdiv4{
	width: 500px;
	height: 42px;
	float: left;
}
.zhongdiv5{
	width: 500px;
	height: 48px;
	float: left;
}
.zhongp6{
	width:25px;
	height: 30px;
	border: 1px solid #807d78;
	/* padding-top: 10px;
	padding-left: 10px; */
	float: left;
}
.zhongp8{
	width:25px;
	height: 30px;
	border: 1px solid #807d78;
	/* padding-top: 10px;
	padding-left: 10px; */
	float: left;
}
.zhongp7{
	width: 52px;
	height: 28px;
	text-align: center;
	float: left;
}
#zhongp9{
	font-size: 14px;
	color: #fe904f;
	float: left;
}
#but1{
	width: 150px;
	height: 40px;
	margin-left: 45px;
	border: 1px solid #ff0754;
	color: #ff0754;
	background-color: white;
	border-radius: 3px;
	float: left;
}
#but2{
	width: 150px;
	height: 40px;
	margin-left: 45px;
	border: none;
	background-color: #ff0754;
	color: white;
	border-radius: 3px;
	float: left;
}
.divzhong1{
	width: 995px;
	height: 180px;
	background-color: white;
	float: left;
}
#b2{
	/* float: left; */
}
#b3{
	/* border: 2px solid #ff9003; */
}
#b4{
	/* border: 2px solid #ff9003; */
}
#b5{
	padding-left: 240px;
}
.xia{
	height: 107px;
	/* padding-left: 5px;
	padding-top: 36px; */
}
.right{
	/* padding-left: 10px; */
	padding-top: 36px;
	float: left;
}
.xia{
	background-color: #f6f5f4;
}
/* 下 */
.img6{
	float: left;
}
.a14{
	height: 190px;
	background-color: white;
}
.ul2{
	float: left;
	width: 75px;
	height: 150px;
	line-height: 23px;
	padding-left: 60px;
	padding-top: 30px;
}
.li3{
	font-size: 14px;
}
.li4{
	font-size: 12px;
	color: #807d78;
}
.img9{
	padding-left: 50px;
	padding-top: 25px;
}
.hr2{
	width: 1010px;

	/* color: red; */
	border-top: 1px solid #abbee6;
	margin-top: 10px;
	margin-left: 320px;
}
.a15{
	height: 165px;
	background-color: white;
}
.p4{
	padding-left: 235px;
	width: 1080px;
	height: 35px;
	float: left;
}
.span10{
	/* margin-top: 20px; */
	padding-left: 5px;
	padding-right: 5px;
	font-size: 12px;
	color: #807d78;
}
.p5{
	height: 20px;
	padding-left: 330px;
	font-size: 12px;
	color: #a8a3bb;
	float: left;
}
.p6{
	height: 20px;
	font-size: 12px;
	padding-left: 60px;
	color: #a8a3bb;
	float: left;
}
.p7{
	width: 500px;
	height: 20px;
	font-size: 12px;
	padding-left: 550px;
	color: #a8a3bb;
	float: left;
}
.p8{
	/* height: 100px; */
	padding-left: 200px;
	float: left;
}
#but4{
	width: 150px;
	height: 40px;
	margin-left: 45px;
	border: 1px solid #ff0754;
	color: #ff0754;
	background-color: white;
	border-radius: 3px;
	float: left;
}
#but5{
	width: 150px;
	height: 40px;
	margin-left: 45px;
	border: none;
	background-color: #ff0754;
	color: white;
	border-radius: 3px;
	float: left;
}
#bigimg{
	width: 1640px;
	height: 1640px;
}
#slider{
	width:102px;
	height:102px;
	position:absolute;
	left:0;
	top:0;
	background-color: #626360;
	opacity:0.4;
	cursor: move;
	display:none; 
	filter:alpha(opacity=40);
}
/* #box{
	width: 410px;
	height: 413px;
	margin-left: 10px;
	position: relative;
	float: left;
} */
#big{
	width: 408px;
	height: 408px;/* z-index:2; */
	position: absolute;
	left:601px;
	top:249px;
	overflow: hidden;
	border: 1px solid #f6f5f4;
	display: none;
}
#bigimg{
	position: absolute;
	left: 0;
	top: 0;
}